.about{
    
    justify-content: center;
    font-size: 1.2rem;
    position: relative;
    
  }
 
  .about-img img{
    width: inherit;
    height: inherit;
    text-align: center;
    position: absolute;
    padding: 9.5px;
  }
  .about-img{
    margin: 3rem 0;
    height: 20rem;
    width: 25rem;
  }
  h1 span{
    color:palevioletred;

  }
  .about-img::before{
    content: "";
    border: 10px solid rgba(248, 196, 100, 0.581);
    position:absolute;
    height: inherit;
    text-align: center;
    width: inherit;
    background: url("../img/sweets.jpeg") fixed no-repeat;
    transition:all 3s;
  }
  .about-img:hover::before{
    transform: translate(-20px,-20px);
  }
  p{
    margin: 2rem;
  }
  .Button {
    border: 1px solid #eee;
    padding: 10px;
    background:palevioletred;
    color: #eee;
    border-radius: 5px;
    cursor: pointer;
  }
  .Button:hover{
    background-color: #eee;
    color: palevioletred;
  }
